<div class="center">
  <form #loginForm="ngForm" (ngSubmit)="login()">
      <p class="h2">Добро пожаловать! Введите логин и пароль:</p>
      <p>
        <md-input-container [ngStyle]="{'width': '100%'}">
          <input mdInput placeholder="Логин" name="login" [(ngModel)]="loginName" required>        
        </md-input-container>
      </p>
      <p>
        <md-input-container [ngStyle]="{'width': '100%'}">
          <input mdInput type="password" placeholder="Пароль" name="pswd" [(ngModel)]="pswd" required>
        </md-input-container>
      </p>
      <div [ngStyle]="{'width': '100%'}" [hidden]="!fail"
          class="alert alert-danger text-left">
        Данный пользователь не найден. Попробуйте еще раз.
      </div>
      <div class="text-center">
        <button type="submit" md-raised-button>Войти</button>
      </div>
  </form>
</div>